<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd">

<!-- <bean id="speaker" class="com.company.yedam.di.SonySpeaker"></bean>
<bean id="tv" class="com.company.yedam.di.LgTV" scope="prototype" >
	<constructor-arg name="speaker" ref="speaker"></constructor-arg>
	<property name="speaker" ref="speaker"></property>
	constructor : 생성자를 통해 주입
	property : set메서드 방식
</bean> -->
<!-- scope는 기본값이 singleton -->
<context:component-scan base-package="com.company"></context:component-scan>
<!-- context:component-scan : 모든빈을 스켄해서 자동으로 빈등록을 하는것. 
com.company에 있는 모든 빈을 자동으로 등록?-->
</beans>
